table{
    border: 1px solid silver;
}

td:hover{
    background-color: yellow;
    color: black;
}

tr,td{
    color: white;
    background-color: darkgreen;
}
tr,th{
    color: black;
    background-color: cornsilk;
}