/* ===========================
   ANIMATIONS & HOVER EFFECTS
   =========================== */

   .navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.image-container img {
    transition: transform 0.3s;
}

.image-container:hover img {
    transform: scale(1.2);
}

.overlay {
    transition: opacity 0.3s;
}

.image-container:hover .overlay {
    opacity: 1;
}

input[type="submit"]:hover {
    background: #e68900;
}
